.reviewerInfo {
    display: flex;
    gap: 16px;
}
.avatar {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #f2f4f7;
    color: #e44848;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 24px;
    line-height: 133%;
}

.name {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #101810;
}

.comment {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #475467;
    margin-top: 16px;
}