.wrapper {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.label {
  font-size: 14px;
  font-weight: 500;
  color: #475467;
}

.input {
  border-radius: 12px;
  border: none;
  padding: 18px;
  width: 100%;
  height: 60px;
  background: #f7f7f7;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  transition: border-color 0.15s ease;
}

.input.error {
  border-color: #e44848;
}

.errorText {
  color: #e44848;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
}



/* Контейнер popup */
.popper {
  z-index: 9999;
  margin-top: 8px;
}

/* Застосувати шрифт до всього календаря */
.calendar :global(.react-datepicker) {
  font-family: 'Inter', sans-serif !important;
  font-size: 16px;
}


/* Сам календар */
.calendar {
  font-family: 'Inter', sans-serif !important;
  border: 1px solid #d1d5db;
  border-radius: 8px !important;
  background: white;
  padding: 8px;
}

/* Заголовок місяця */
.calendar .react-datepicker__current-month {
  font-size: 16px;
  font-weight: 600;
  color: #101828;
}

/* Дні тижня */
.calendar .react-datepicker__day-name {
  color:  #475467;
  font-weight: 500;
}

/* Звичайні дні */
.calendar .react-datepicker__day {
  border-radius: 32px;
  transition: background 0.2s ease;
}

/* Hover */
.calendar .react-datepicker__day:hover {
  background: #e5e7eb;
}

/* Обраний день */
.calendar .react-datepicker__day--selected {
  background-color: #e44848;
  color: white;
}

/* Діапазон */
.calendar .react-datepicker__day--in-range {
  background: #dbeafe;
  color: #475467;
}

/* Крайні точки діапазону */
.calendar .react-datepicker__day--range-start,
.calendar .react-datepicker__day--range-end {
  background: #475467;
  color: white;
}

/* Стрілки навігації */
.calendar .react-datepicker__navigation {
  top: 12px;
  color: #f10909;
}

.calendar .react-datepicker__navigation-icon::before {
  border-color: #475467;
}

/* Сам календар */
.calendar {
  font-family: 'Inter', sans-serif !important;
  border: 6px solid #d1d5db;
  border-radius: 8px;
  background: white;
  padding: 8px;
}
.calendar :global(.FormikDatePicker_errorText) {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
}

/* Глобальні стилі всередині календаря */
.calendar :global(.react-datepicker__current-month) {
  font-size: 16px;
  font-weight: 600;
  color: #101828;
}

.calendar :global(.react-datepicker__header) {
  background-color: #ffffff;
  color: #475467;
  font-weight: 500;
}

.calendar :global(.react-datepicker__day-name) {
  color: #475467;
  font-weight: 500;
}

.calendar :global(.react-datepicker__day) {
  border-radius: 32px;
  color: #101828;
  transition: background 0.2s ease;
}

.calendar :global(.react-datepicker__day--keyboard-selected) {
  background: #475467;
  color: #ffffff;
  border-radius: 32px;
}

.calendar :global(.react-datepicker__day:hover) {
  background: #e5e7eb;
  color: #101828;
}

.calendar :global(.react-datepicker__day--selected) {
  background: #101828;
  color: white;
}
.calendar :global(.react-datepicker__day--disabled) {
  background: #ffffff;
  color: #475467;
}

.calendar :global(.react-datepicker__day--in-range) {
  background: #dbeafe;
  color: #475467;
}

.calendar :global(.react-datepicker__day--range-start),
.calendar :global(.react-datepicker__day--range-end) {
  border-radius: 32px;
  background: #475467;
  color: white;
}

.calendar :global(.react-datepicker__navigation) {
  top: 12px;
}

.calendar :global(.react-datepicker__navigation-icon::before) {
  border-radius: 1px;
  border-color: #475467;
}
