.heroSection {
  width: 100%;
  height: 696px;
  margin-bottom: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.heroTextContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.hero {
  background-image: url(/image/Hero/Picture.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-width: 1440px;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  text-align: left;
  gap: 40px;
  padding-left: 64px;
}

.heroTitle {
  font-weight: 600;
  font-size: 48px;
  line-height: 67%;
  color: #F7F7F7;
}

.heroText {
  font-weight: 600;
  font-size: 24px;
  line-height: 133%;
  color: #F7F7F7;
}

.heroButton {
  border-radius: 200px;
  border: none;
  padding: 16px 60px;
  color: #FFFFFF;
  background: #E44848;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.01em;
  cursor: pointer;
}
.heroButton:hover {
  background: #D84343;
}