
.detailRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 16px;
    
}

.detailText {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #101828;
}