
.navList {
    display: flex;
    flex-direction: row;
    gap: 32px;
}
.navList li {
    position: relative;
    white-space: nowrap;
}
.navItem {
    cursor: pointer
}

.navList .navItem {
    display: block;
    color: #101828;
    text-align: center;
    position: relative;
    cursor: pointer;
}

.navItem {
    position: relative;
}

.navList .navItem.active {
    font-weight: 600 !important;
    color: e44848 !important;
}

.navList .navItem:hover,
.navList .navItem:focus {
    font-weight: 600;
    color: e44848;
}

.navList .navItem::after,
.navItem.current::before {
    content: '';
    position: absolute;
    bottom: -16px;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #101828;
}

.navList .navItem::after {
    opacity: 0;
    transition: opacity 250ms ease-in-out;
}

.navList .navItem.active::after {
    opacity: 1 !important;
}

.navList .navItem:hover::after,
.navList .navItem:focus::after {
    opacity: 1;
}