.navReviewsFeatures {}
.navList {
    display: flex;
    flex-direction: row;
    gap: 32px;
}
.navList li {
    position: relative;
    white-space: nowrap;
}
.navItem {}

.navList .navItem {
    display: block;
    color: #101828;
    text-align: center;
    position: relative;
}
.navList .navItem:hover,
.navList .navItem:focus {
    font-weight: 600;
    color: brown;
}

.navItem.current {
    position: relative;
}

.navList .navItem::after,
.navItem.current::before {
    content: '';
    position: absolute;
    bottom: -16px;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #101828;
    /* transform: translateX(-50%); */
}

.navList .navItem::after {
    opacity: 0;
    transition: opacity 250ms ease-in-out;
}
.navList .navItem:hover::after,
.navList .navItem:focus::after {
    opacity: 1;
}