.book {
    border: 1px solid #dadde1;
    border-radius: 10px;
    padding: 44px;
    width: 641px;
    min-height: 588px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;   
}

.fieldset {
 border: none;
}

.error {
    color: #e44848;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    
}

.input {
    border-radius: 12px;
    border: none;
    padding: 18px;
    width: 100%;
    height: 60px;
    background: #f7f7f7;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
}
.inputDate {
    border-radius: 12px;
    border: none;
    padding: 18px;
    width: 100%;
    height: 60px;
    background: #f7f7f7;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
}

.inputarea {
    border-radius: 10px;
    padding: 18px 18px 76px 18px;
    width: 100%;
    height: 118px;
    border: none;
    background: #f7f7f7;
    resize: none;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #6c717b;
}

.button {
    border-radius: 200px;
    border: none;
    padding: 16px 60px;
    width: 166px;    
    background: #e44848;
    color: #fff;
    cursor: pointer;
    margin: 0 auto;
    cursor: pointer
}

.button:hover {
    background: #D84343;
}