
.bottomSection {
    margin-top: 28px;
}

.navReviewsFeatures {
    margin-top: 44px;
    margin-bottom: 68px;
}
.navList {
    display: flex;
    flex-direction: row;
    gap: 32px;
}
.navList li {
    position: relative;
    white-space: nowrap;
}
.navItem {}

.navList .navItem {
    display: block;
    color: #101828;
    text-align: center;
    position: relative;
}
.navList .navItem:hover,
.navList .navItem:focus {
    font-weight: 600;
    color: brown;
}

.navItem.current {
    position: relative;
}

.navList .navItem::after,
.navItem.current::before {
    content: '';
    position: absolute;
    bottom: -16px;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #101828;
    /* transform: translateX(-50%); */
}

.navList .navItem::after {
    opacity: 0;
    transition: opacity 250ms ease-in-out;
}
.navList .navItem:hover::after,
.navList .navItem:focus::after {
    opacity: 1;
}
.navReviewsFeatures {
    position: relative;
    /* width: 1312px; */
}

.navReviewsFeatures::after {
    content: '';
    position: absolute;
    bottom: -16px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #e4e7f1;
}

.tabContentAndBook {
    display: flex;
    gap: 40px;
}


.reviewsAndFeatures {
    display: flex;
    padding: 44px 52px;
    width: 631px;
    background: #f7f7f7;
    border-radius: 10px;
}
.features {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 44px;  

}

.borderDetails {
    border-top: 1px solid #e4e7f1;
    margin: 24px 0;
}

.Reviews {

}