.features {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 44px;
    padding: 44px 52px;
    max-width: 631px;
    background: #f7f7f7;
    border-radius: 10px;
/* height: 588px; */
}

.borderDetails {
    border-top: 1px solid #e4e7f1;
    margin: 24px 0;
}
