.camperCard {
    
}
.boxHeader {

}
.namePrice {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 24px;
    line-height: 133%;
    color: #101828;

}
.boxInfo {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #101828;
    display: flex;
    flex-direction: row;
    align-items: center ;
}
.ratingInfo {
    display: flex;
    flex-direction: row;

}
.iconStar {

}
.rating {

}
.location {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #101828;
    margin-left: 12px;

}
.iconFilter {
    margin-right: 8px;
    vertical-align: middle;
    fill: #101828;
}
.price {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 24px;
    line-height: 133%;
    color: #101828;

}
.imageContainer {
    display: flex;
    gap: 48px;
    margin: 28px 0;
}
.camperImage {
    border-radius: 10px;
    object-fit: cover;
}

.description {
    font-family: var(--font-family);
font-weight: 400;
font-size: 16px;
line-height: 150%;
color: #475467;
}
.options {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 8px;

}
.equipment {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #101828;
    border-radius: 100px;
    padding: 12px 18px;
    background: #f2f4f7;
}
